<div *ngIf="promotionsData; else loader">
  <p>
    Actuellement,
    <span class="number">{{ promotionsData.length }}</span>
    cours sont disponibles
  </p>

  <div class="promotion-card-container">
    <div class="promotion-card" *ngFor="let promotion of promotionsData">
      <div class="image-container">
        <img [src]="getMediaUrlFromDescription(promotion.description)" alt="Promotion Image" />
      </div>
      <h3 class="truncated-text">{{ promotion.name }}</h3>
      <a [routerLink]="['/promotion', promotion.id]">
        <div class="buttonTag">
          <p>{{ promotion.tag }}</p>
          <div class="manageButton">
            <button class="manageButton" (click)="selectPromotionById(promotion.id)">Details</button>
            <img [src]="'assets/images/right-arrow.svg'" alt="arrow" height="100" width="100" />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="loader-container" [@fadeInOut]>
    <p>Loading...</p>
  </div>
</ng-template>
<div *ngIf="!promotionsData">
  <p>Promotion not found.</p>
</div>
