.promotion-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  .description {
    width: 80%;
    margin: 1rem;
  }
  .promotion-card {
    flex: 0 0 calc(33.3333% - 0.5rem);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 0.5rem;
  }

  .promotion-card p {
    margin: 5px 0;
  }

  .promotion-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
}
.number {
  color: var(--turquoise);
}
