<div class="promotion">
  <label for="title">Titre de la promotion:</label>
  <input type="text" id="input" name="title" [(ngModel)]="textValue" placeholder="Entrez le titre de la promotion" />
</div>
<div class="promotion">
  <label for="tag">Tag de la promotion:</label>
  <input type="text" id="input" name="tag" [(ngModel)]="tag" placeholder="Entrez le tag de la promotion" />
</div>
<div class="addParticipants">
  <div id="editor"></div>
  <app-participants-modal *ngIf="showModal" [createdPromoId]="createdPromoId"></app-participants-modal>

  <div class="Button">
    <button class="PromoButton" (click)="createPromotion()">Envoyer</button>
  </div>
</div>
