<div class="discussions-container">
    <div class="header-discussions">
        <div class="title-section">
            <p>Mes Discussions</p>
        </div>
    </div>
    <div class="all-discussions">
        <div class="discussion-card">
            <div class="upvote-container">
                <img src="../../../../../assets/images/up-arrow.svg" />
                <p>
                    0
                </p>
            </div>
            <div class="title-discussion-container">
                <p class="title">Title</p>
                <p class="date">26/05/12</p>
            </div>
        </div>
    </div>
    <div class="show-more">
        <p class="text-show-more">Voir plus...</p>
    </div>
</div>

