.discussions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

.header-discussions {
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.title-section {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: black;
    border-bottom: (var(--violet)) 4px solid;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    p {
        margin: 0;
    }
}

.show-more {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    text-align: end;
    font-size: 18px;
    color: (var(--violet));
    cursor: pointer;
    padding: 0;
    -webkit-text-stroke: 0.5px black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    p {
        width: 100px;
        margin: 0;
    }
}

.all-discussions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.discussion-card {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: (var(--violet));
    border-radius: 10px;
    border: 0.3px solid black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: space-evenly;
    align-items: center;
    .upvote-container {
        width: 100px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        background-color: (var(--turquoise));
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border: 0.3px solid black;
        border-radius: 10px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
    .title-discussion-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        .title {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            color: white;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
        .date {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            color: white;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}



// ---------------------------- MOBILE ----------------------------

@media (max-width: 768px) {
    .discussions-container {
        margin-top: 50px;
    }
    .header-discussions {
        width: 90%;
    }
    .title-section {
        font-size: 16px;
    }
    .show-more {
        width: 90%;
        font-size: 14px;
    }
    .all-discussions {
        width: 90%;
    }
    .discussion-card {
        height: 60px;
        .upvote-container {
            width: 80px;
            height: 40px;
            img {
                width: 15px;
                height: 15px;
            }
        }
        .title-discussion-container {
            width: 50%;
            .title {
                font-size: 14px;
            }
            .date {
                font-size: 10px;
            }
        }
    }
}