<nav class="header-container">
  <div class="header-content">
    <div class="menu-burger" [ngClass]="{ open: isMenuOpen }" (click)="toggleMenu()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <nav class="menu" [ngClass]="{ open: isMenuOpen }">
      <ul>
        <li><a routerLink="/accueil">Accueil</a></li>
        <li><a routerLink="/promotions">Promos</a></li>
        <li><a routerLink="/discution">Discution</a></li>
        <li><a routerLink="/commerce">Commerce</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/authentication">Connexion / Déco</a></li>
      </ul>
    </nav>
  </div>

  <div class="icons">
    <div class="icon"><i class="fa fa-user"></i></div>
    <div class="icon"><i class="fa fa-envelope"></i></div>
    <div class="icon"><i class="fa fa-bell"></i></div>
  </div>
</nav>
