@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

nav.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(180deg, #6f42c1 0%, #3b2269 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 2;
}

.header-content {
  display: flex;
  align-items: center;
}

.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.menu-burger.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-burger.open .line:nth-child(2) {
  opacity: 0;
}

.menu-burger.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  top: 100%;
  right: 0;
  display: none;
  z-index: 2;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
}

.menu.open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #6f42c1;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  padding: 20px;
  padding-left: 10vh;
  display: flex;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.menu-image {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-burger {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
  }

  .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .menu li {
    padding: 0 10px;
  }

  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  .menu-image {
    display: none;
  }
}
