body {
  font-family: Arial, sans-serif;
  color: white;
.all-text{
  margin: 2rem;
}
  .image-container {
    margin: 3rem;
    display: flex;
    align-content: center;
    justify-content: center;

    img {
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
    }
  }

  .promotion-details {
    background: linear-gradient(180deg, #52338a 0%, #40286d 100%);

    margin: 0 auto;

    border: 1px solid #ccc;

    word-wrap: break-word;
    text-transform: capitalize;
  }

  .promo-title {
    width: 185px;
    height: 18px;
    flex-shrink: 0;
  }

  .description-text {

    display: flex;
    width: 310px;
    height: 256px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 20px;
  }

  h4 {
    margin: 10px 0;
  }

  p {
    margin: 5px 0;
  }

  ul {
    margin: 10px 0;
    padding-left: 20px;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-around;
    color: var(--violet);
  }

  .list li {
    color: var(--violet);
  }

  li button {
    margin-left: 10px;
  }

  input[type='text'] {
    width: 95%;
    padding: 5px;
    color: var(--violet);
    
  }

  .selected-participants {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }

  .selected-participants ul {
    margin: 10px 0;
    padding-left: 20px;
  }

  .update-button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: var(--violet);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .update-button:hover {
    background-color: var(--turquoise);
  }

  .tabs {
    display: flex;

    .tabs-button {
      flex-basis: calc(33.33% - 2px);
      border-right: 2px solid #17A2B8;
      background: linear-gradient(180deg, #52338A 0%, #40286D 100%);
      width: 195px;
      height: 38px;
      transform: skewX(-20deg); 
    }
  }

  .tabs-button.active {
    background: var(--violet);
  }


  .search-results {
    list-style: none;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
  }

  .search-results li {
    padding: 5px;
    cursor: pointer;
  }

  .search-results li:hover {
    background-color: #e5e5e5;
  }

  .buttonUpdate {
    display: flex;
    justify-content: center;
  margin: 2rem;
    background:none;
  }
}

.participant {
  background-color: #e5e5e5;
  color: var(--violet);
  padding: 1rem; }
