<div class="container">
    <div class="user-info-container">
        <div class="image-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQv3Hcg4Ax8V6PC6UsY8_ISERwWTE2GaeVmCOr1hMKqA&s" alt="elephant"/>
        </div>
        <div class="name-container">
            <p>Mon nom</p>
        </div>
        <div class="stats-container">
            <div class="stats-background">
                <div class="stats-text-container">
                    <p class="count-stat">4</p>
                    <p class="title-stat">Resources Partagées</p>
                </div>
                <div class="stats-text-container">
                    <p class="count-stat">10</p>
                    <p class="title-stat">Réponses</p>
                </div>
                <div class="stats-text-container">
                    <p class="count-stat">10</p>
                    <p class="title-stat">Sujets créés</p>
                </div>
            </div>
        </div>
    </div>
    <div class="user-sub-info-container">
        <div class="bio-container">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci distinctio, doloribus, molestiae, unde in quo expedita dolore excepturi nemo maiores animi exercitationem. Tempore dolorem alias tenetur ipsa quibusdam! Impedit, qui.</p>
        </div>
    </div>
</div>

