<div class="promotions-participated-container">
    <div class="header-promotions">
        <div class="title">
            <p>Mes Promos</p>
        </div>
        <div class="button-join-promotion">
            <p class="button-text">Rejoindre une promotion</p>
        </div>
    </div>
    <div class="all-promotions" *ngIf="promotions.length !== 0">
        <div *ngFor="let promo of promotions">
            <div class="promo-card">
                <div class="header-card">
                    <img [src]="promo.picture" alt="promo card" />
                </div>
                <div class="body-card">
                    <p>{{ promo.name }}</p>
                    <div class="promotion-detail-container">
                        <a class="promotion-detail-button" [routerLink]="['/promotion', promo.id]">
                            <p>Details</p>
                            <img ngSrc="assets/images/svg/right-arrow.svg" alt="arrow" height="100" width="100" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- Ceci est la fin des carte promo -->
        </div>
    </div>
    <div class="all-promotions" *ngIf="promotions.length === 0">
        <div class="no-promotions">
            <p>Vous n'avez pas encore participé à une promotion</p>
        </div>
    </div>
    <div class="show-more">
        <p class="text-show-more">Voir plus...</p>
    </div>
</div>
